PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/smart_study_planner
JWT_SECRET=change_this_to_a_long_random_secret_string
# Must match the Google OAuth Web client used in the frontend
GOOGLE_CLIENT_ID=418217303504-foqvv7g2b4rtju2vibdidvaqvidf75dp.apps.googleusercontent.com
